@font-face {
    font-family: Netflix Sans;
    src: url("../../../public/NetflixSansMedium.otf");
  }

.movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.id-link{
    width: 100px;
    height: 100px;
}