@font-face {
  font-family: Netflix Sans;
  src: url("../../../public/Netflix Sans Medium.otf");
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: aliceblue;
}