@font-face {
    font-family: Netflix Sans;
    src: url("../../../public/NetflixSansMedium.otf");
  }

.card {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 200px;
    height: calc(200px * (16/9));
}

img {
    width: 200px;
    height: calc(200px * (16/9));
}
