@font-face {
    font-family: Netflix Sans;
    src: url("../../../public/NetflixSansMedium.otf");
  }

.modal {
    align-self: center;
    background-color: #181718;
    width: 50vw;
    border-radius: 0.5rem;
    color: aliceblue;
    height: 85vh;
}

.modal-image {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 50vw;
}

.hidden {
    display:none
}